---
const { href, icon, text } = Astro.props;
---

<a href={href} class="px-5 py-2.5 relative rounded group overflow-hidden font-medium  text-white inline-block">
  <span class="absolute top-0 left-0 flex w-full h-0 mb-0 transition-all duration-200 ease-out transform translate-y-0 bg-primary group-hover:h-full opacity-90"></span>
  <span class="relative group-hover:text-white flex items-center gap-4">
    <i class={icon} class="text-2xl"></i>
    <span class="">{text}</span>
  </span>
</a>