---
import Skil from "./atoms/skil.astro";
import Tag from "./atoms/tag.astro";
---

<div class="border-b border-base-content/10 py-6">
  <p class="text-base text-base-content">Habilidades</p>
  <div class="space-y-5 mt-5"><div>
    <Skil level="90" skil="Angular" />
    <Skil level="90" skil="Laravel" />
    <Skil level="85" skil="NestJs" />
    <Skil level="80" skil="PostgreSQL" />
    <Skil level="85" skil="Git" />
    <Skil level="70" skil="Astro" />
  </div>
</div>

<div class="border-b border-base-content/10 py-6 mb-6">
  <p class="text-base text-base-content">Habilidades Adicionales</p>
  <div class="flex flex-wrap gap-2 mt-5">
    <Tag text="Materialize" />
    <Tag text="Bootstrap" />
    <Tag text="Sass" />
    <Tag text="Gulp" />
    <Tag text="Node.js" />
    <Tag text="Tailwind" />
    <Tag text="Docker" />
    <Tag text="MySQL" />
    <Tag text="MongoDB" />
    <Tag text="Redis" />
    <Tag text="Elasticsearch" />
    <Tag text="RabbitMQ" />

  </div>
</div>