<div class="flex items-center justify-between bg-base-100 rounded-lg px-5 py-3 mt-5">
  <a target="_blank" href="https://www.linkedin.com/in/gersom-hernandez/">
    <i class="fa fa-linkedin"></i>
  </a>
  <a target="_blank" href="https://www.twitter.com/gersomsim">
    <i class="fa fa-twitter"></i>
  </a>
  <a target="_blank" href="https://www.github.com/gersomsim">
    <i class="fa fa-github"></i>
  </a>
  <a target="_blank" href="https://dev.to/gersomsim">
    <small>DEV</small>
  </a>
</div> 

<style>
  .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>