---
const { text } = Astro.props;
---
<p class="text-xs font-medium text-base-content/60 px-3 py-0.5 bg-base-100 rounded-md hover:bg-accent hover:text-primary-content transition hover:duration-300 cursor-pointer">
  {text}
</p>