---
import "../styles/global.css";
import Navbar from '../components/organism/navbar.astro';
import Logo from "../components/molecules/logo.astro";

const { title, description } = Astro.props;

---

<!doctype html >
<html lang="es" data-theme="nigth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Gersom Hernandez</title>
		<meta name="description" content={description} />
		<meta name="keywords" content="Gersom Hernandez, Desarrollador Fullstack, Angular, Laravel, PHP, PostgreSQL, MySQL, MongoDB" />
		<meta name="author" content="Gersom Hernandez" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="google" content="notranslate" />
		<meta name="google" content="notranslate" />
		<script src="https://kit.fontawesome.com/61f5902346.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="relative w-full h-full overflow-auto flex flex-col" id="main">
			<div class="top-0 z-20 w-full sticky">
				<Navbar />
			</div>
			<div class="z-10 transition-all duration-400 h-full" id="content">
				<slot />
			</div>
		</div>
		<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
			<aside>
				<Logo />

				<p class="text-center font-light text-gray-50 mt-2">
					Desarrollador Fullstack
				</p>
			</aside>
			<nav>
				<h6 class="footer-title">Social</h6>
				<div class="grid grid-flow-col gap-4">
					<a href="https://github.com/gersomsim" target="_blank" class="link link-hover">
						<i class="fa-brands fa-github text-2xl"></i>
					</a>
					<a href="https://www.linkedin.com/in/gersom-hernandez/" target="_blank" class="link link-hover">
						<i class="fa-brands fa-linkedin text-2xl"></i>
					</a>
					<a href="https://www.twitter.com/gersomsim" target="_blank" class="link link-hover">
						<i class="fa-brands fa-twitter text-2xl"></i>
					</a>
					<a href="https://dev.to/gersomsim" target="_blank" class="link link-hover">
						<i class="fa-brands fa-dev text-2xl"></i>
					</a>

				</div>

			</nav>
		</footer> 
	</body>
	
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
